
 	 	.container1
		{
		display: flex;
		flex-wrap:wrap;
		flex-direction: row;
		background:lightgray;
		justify-content:center;				
		}

		.container2
		{	
		display:flex;
		flex-direction:column;
		flex-wrap: nowrap;					
		}
		
		.container3
		{
		display:flex;
		}	
		
		#image
		{	
		width:420px;
		height:300px;
		border: 10px solid gray;
		margin:0 auto;		
		}

  		#image1
		{	
 		width:420px;
		height:300px;
		border: 10px solid gray;
		margin:0 auto;	
		}
		
		#image2
		{		
		width:420px;
		height:620px;
		border: 10px solid black;
		margin:0 auto;			
		}

		#image3
		{	
 		width:420px;
		height:300px;
		border: 10px solid gray;
		margin:0 auto;	
		}

		#image4
		{	
 		width:420px;
		height:300px;
		border: 10px solid gray;	
		margin:0 auto;		
		}
		
		#img-caption
		{
		text-align:center;
		font-size: 20px;
		}

		Section
		{
		margin:auto;
		width:50%;
		padding:10px;
		}

		a
		{
		color:red;
		}

		h2{text-align:center;}

		h3
		{
		text-decoration:underline;
		
		}	
		
			
		
		@media screen and (max-width:1335px)
		{
			
		.container1
		 {flex:100%;
		 }
		
		.container2
		 {flex:100%;
		 }

		.container3
		 {flex:100%;
		 }

		}
		
		
		@media screen and (max-width:440px)
		{
		.container1
		 {width:440px;}
		
		section
		{width:440px;}
		}